#-----------------------------------------------------------------------
#
# Server Automation .env file
#
# Common variables for all scripts
#
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
#
# Script requirements
#

# PID file the running script
PID_FILE=.main_script.pid

#-----------------------------------------------------------------------
#
# Directories where your local files are located
#
# The following settings are widely used in the scripts envrionment
# please set it accordingly with your policies and make sure to check
# the base requiredment in order to use this server automation scripts
#

# Base server directory path
BASE_SERVER_PATH="/server"

# Sites folder
SITES_FOLDER="${BASE_SERVER_PATH:-"/server"}/sites"

# Clone sites folder
CLONE_FOLDER="${BASE_SERVER_PATH:-"/server"}/clones"

# Backup folder
BACKUP_FOLDER="${BASE_SERVER_PATH:-"/server"}/backup"

# Log folder
LOG_FOLDER="${BASE_SERVER_PATH:-"/server"}/log"

#-----------------------------------------------------------------------
#
# Proxy settings
#
# The proxy will be configured in your settings will set the options backup script for remote storage uses the sftp as a client
# if you option to configure your access info at ~/.ssh/config file
# inform the host name from your ssh config file in the variable below
#
# This proxy is based on 'nginx-proxy' using the separated containers
# url: https://github.com/nginx-proxy/nginx-proxy
#
# The current version of the used proxy is in this repository:
# https://github.com/evertramos/nginx-proxy-automation
#
PROXY_OPTION="nginx-proxy"

# Proxy root folder
PROXY_FOLDER="${BASE_SERVER_PATH:-"/server"}/proxy"

# Proxy compose files folder
PROXY_COMPOSE_FOLDER="${PROXY_FOLDER}/compose"

# Proxy data files folder
PROXY_DATA_FOLDER="${PROXY_FOLDER}/data"

#-----------------------------------------------------------------------
#
# Remove backup storage (ftp|sftp)
#
# The backup script for remote storage uses the sftp as a client
# if you option to configure your access info at ~/.ssh/config file
# inform the host name from your ssh config file in the variable below  
#
# of just add the username and server as of:
# username@server.com
#
BACKUP_SERVER=

#-----------------------------------------------------------------------
# 
# Server info
#

# Server public IP addresses
IPv4=0.0.0.0
IPv6=::0

#-----------------------------------------------------------------------
# 
# DNS API Support
#
# This script has an automation process for create/update/delete 
# DNS records through an API when you need to fire a new dns record 
# if you plan to use this automation you must create your access token 
#
# Current supported providers:
# 1. digitalocean - Digital Ocean
# 2. cloudflare   - Cloudflare
#
# For more information on how to get your pernsonal access token, 
# please check:
# 1. https://www.digitalocean.com/docs/apis-clis/api/create-personal-access-token/
# 2. https://dash.cloudflare.com/profile/api-tokens
#

# API Provider
API_PROVIDER=digitalocean

# API Key
API_KEY=

