#-----------------------------------------------------------------------
#
# Server Automation .env file
#
# Common variables for all scripts
#
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
#
# Directories where your local files are located
#
# The following settings are widely used in the scripts envrionment
# please set it accordingly with your policies and make sure to check
# the base requiredment in order to use this server automation scripts
#

# Base server directory path
BASE_SERVER_PATH="/server"

# Sites folder
SITES_FOLDER="${BASE_SERVER_PATH:-"/server"}/sites"

# Proxy files folder
PROXY_FOLDER="${BASE_SERVER_PATH:-"/server"}/proxy"

# Clone sites folder
CLONE_FOLDER="${BASE_SERVER_PATH:-"/server"}/clones"

# Backup folder
BACKUP_FOLDER="${BASE_SERVER_PATH:-"/server"}/backup"

# Log folder
LOG_FOLDER="${BASE_SERVER_PATH:-"/server"}/log"

#-----------------------------------------------------------------------
#
# Remove backup storage (ftp|sftp)
#
# The backup script for remote storage uses the sftp as a client
# if you option to configure your access info at ~/.ssh/config file
# inform the host name from your ssh config file in the variable below  
#
# of just add the username and server as of:
# username@server.com
#
BACKUP_SERVER=

#-----------------------------------------------------------------------
#
# Script requirements
#

# PID file the running script
PID_FILE=.main_script.pid

#-----------------------------------------------------------------------
# 
# Server info
#

# Server public IP address
IP=0.0.0.0

#-----------------------------------------------------------------------
# 
# DNS API Support
#
# This script has an automation process for create/update/delete 
# DNS records through an API when you need to fire a new dns record 
# if you plan to use this automation you must create your access token 
#
# Current supported providers:
# 1. digitalocean - Digital Ocean
# 2. cloudflare   - Cloudflare
#
# For more information on how to get your pernsonal access token, 
# please check:
# 1. https://www.digitalocean.com/docs/apis-clis/api/create-personal-access-token/
# 2. https://dash.cloudflare.com/profile/api-tokens
#

# API Provider
API_PROVIDER=digitalocean

# API Key
API_KEY=

